
/*
FONTS - these are the names to use in font-family rules:
NovecentoSansCondensedNormal
NovecentoSansWideBold
NovecentoSansWideUltraBold
*/

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

h1 {
  font-family: "NovecentoSansWideUltraBold", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2,
h4,
h5 {
  font-family: "NovecentoSansCondensedNormal", 'Arial Narrow', sans-serif;
}

h3 {
  font-family: "NovecentoSansWideBold", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#student-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.student-card {
    text-align: center;
}

.student-card h3 {
    font-size: 2rem;
}

.student-card h4 {
    font-size: 2.25rem;
}

.student-image {
    max-width: 300px;
}




/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .student-image {
        max-width: 200px;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .student-image {
        max-width: 160px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .student-image {
        max-width: 180px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .student-image {
        max-width: 200px;
    }
}

/* Reset default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body background just for preview */
body {
  background: #d9d9d9;
}



/* STUDENT DETAIL CSS !!!! ------- */

.detail-body {
    background-image: url("../images/Background.svg");
    background-color: #FAF6E5;
}

/* navigation ------------------ */

.detail-nav {
  position: relative;
  padding: 20px;
  font-family: "NovecentoSansWideBold", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #FAF6E5;
}


.nav-forward {
  position: absolute;
  top: 0;
  right: 7px;

  width: 140px;
  height: 55px; 

  background: #EF7CB1;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 7px;
  font-size: 18px; 
  font-weight: bold;
  text-decoration: none;

  border-radius: 50% / 0 0 100% 100%;
}

.nav-back {
  position: absolute;
  top: 0;
  left: 7px;

  width: 140px;
  height: 55px; 

  background: #F26330;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 7px;
  font-size: 18px; 
  font-weight: bold;
  text-decoration: none;

  border-radius: 50% / 0 0 100% 100%;
}

/* main page --------------------- */

.detail-main {
  padding: 40px;
  padding-left: 70px;
}

.detail-layout {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;  
  margin: 0 auto;     
}

/* Left side section ------------------ */

.detail-card {
  width: 380px;
  min-height: 694.65px;

  background: #ffffff;
  padding: 25px 8px;
  text-align: center;
}


/* student detail information ---------- */

.detail-card h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: -20px;
  font-family: "NovecentoSansWideBold", sans-serif;
}


.headshot-layout {
  width: 280px;
  height: 280px;
  margin: 2px auto; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot-bg {
  position: absolute;

  width: 100%;
  height: 100%;

  background: url("../images/yellow-bg.svg") center/contain no-repeat;
}

.detail-headshot {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
}


.detail-card h2 {
  font-size: 3rem;
  margin-top: -20px;
  margin-bottom: 25px;
}

/* links-------- */

.detail-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  margin-bottom: 15px;
  padding: 0;
}

.detail-links a {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
}

.detail-links img {
  width: 60px;
  height: 60px;
  display: block;
}

/* student description ----*/

.detail-card p {
  font-size: 1.6rem;
  text-align: left;
  padding: 0 16px;
}

/* Right side section ------------------ */

.detail-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px 60px;
  justify-items: center;
}

.project-box {
  width: 100%;
  max-width: 350px;
  border: 12px solid #FFCC3F;
  background: transparent;
  align-self: start; 
}
.project-box img {
  width: 100%;
  height: auto;
  display: block;
}

/* lightbox css */

.lightbox-caption.small {
  font-size: 1em;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  background-color: black;
}

.modal-dialog {
  transform: none !important;
}

.modal-content {
  position: relative;
}

.modal.show .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 2.2rem;
  height: 2.2rem;

  background-color: white;
  opacity: 1;

  z-index: 9999;
}

.modal .carousel-control-prev {
  left: -35px;
}

.modal .carousel-control-next {
  right: -35px;
}

.modal-open .detail-layout {
  pointer-events: none;
}


/* Portfolio boxes ------ */

.box-1 {
  grid-column: 2;
  margin-top: 0;
}

.box-2 {
  grid-column: 1;
  margin-top: -60px;
}

.box-3 {
  grid-column: 2;
  margin-top: 80px;
}

/* MOBILE student detail page css */

@media (max-width: 768px) {

  .detail-layout {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

     .detail-card {
    width: 90%;
    max-width: 380px;
  }

   .detail-main {
    padding: 20px;
  }

  .headshot-layout {
    width: 220px;
    height: 220px;
  }

  .detail-headshot {
    width: 140px;
    height: 140px;
  }

  .detail-card h1 {
    font-size: rem;
    margin-bottom: -10px;
  }

  .detail-card h2 {
    font-size: 3rem;
    margin-top: 0;
  }

  .detail-card p {
    font-size: 1.5rem;
    text-align: left;
    padding: 0 16px;
  }


  /* mobile project section */

.detail-projects {
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;
}


  .project-box {
  width: 90%;
  max-width: 350px;
  height: auto;
  border: 12px solid #FFCC3F;
  background: transparent;
}

.box-1,
.box-2,
.box-3 {
  grid-column: auto;
  margin-top: 0;
}

}

/* mobile lightbox css */

@media (max-width: 768px) {

  .lightbox-caption.small {
  font-size: 1em;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

  body.modal-open {
    position: fixed;
    width: 100%;
    overflow: hidden;
  }
  .modal-backdrop.show {
    opacity: 1 !important;
    background-color: black !important; 
  }
  .modal-content {
    background: transparent;
    border: none;
  }
}


/* END OF STUDENT DETAIL CSS */



/* FOOTER BACKGROUND */
.footer {
  background: #FDF5E6;
  padding: 45px 50px; 
  position: relative;
}

/* blue line */
.footer-line {
  width: 100%;
  height: 3px;
  background: #2e4a9e;
  position: absolute;
  top: 0;
  left: 0;
}

/* Main layout */
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1300px; 
  margin: 0 auto;
  column-gap: 120px;
  row-gap: 20px;
}

/* LEFT LOGO */
.footer-left img {
  max-width: 190px; 
  height: auto;
}

/* CENTER */
.footer-center {
  text-align: center;
  flex: 1;
}

/* TITLE */
.footer-center h2 {
  font-size: 2.2rem; 
  font-family: "NovecentoSansWideBold", sans-serif;
  margin-bottom: 12px;
  


}

/* YEARS */
.years {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px; 
  margin-bottom: 10px;
}

/* YEAR TEXT */
.years a {
  font-size: 1.15rem; 
  color: black;
  text-decoration: none;
}

/* RIGHT SIDE */
.footer-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* RIGHT LOGO */
.footer-right img {
  height: 80px; 
  width: auto;
}

/* ACKNOWLEDGEMENT */
.acknowledgement-right img {
  height: 40px; 
  width: auto;
}

/* COPYRIGHT */
.footer-bottom {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.footer-bottom .copyright {
  text-align: center;
  font-size: 1rem;
  color: #333;
}


@media (max-width: 768px) {

  .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 25px;
  }

}

/* END OF FOOTER */


/* Homepage Background */
body {
  background-image: url("../images/Background.svg");
  background-color: #FAF6E5;
}

/* Top Logo */
.top-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.top-img-logo {
  background-color: #FAF6E5;
  max-width: 100%;
}

h1 span
{background-color: #FAF6E5;}

/* Welcome*/
.welcome-h2 {
  text-align: center;
}
.welcome {
  background-color: #1BAE8C;
  width: 100%;
  color: #FAF6E5;
  margin: 0 auto;
  padding: 30px;
  margin: 40px 0px;

}

/* Student Images */
.student-image {
  width: 200 px;
  height: 200 px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.student-info {
  background-color: #FAF6E5;
  margin: 2px;
}

.student-info h3 {
  margin-bottom: 10px;
}
.student-info h4 {
  margin-top: 0px;
}
