@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	background-image: linear-gradient( 180deg,  rgb(139, 72, 0) 23.8%, rgb(89, 255, 236) 92% );
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

.results {
	display: flex;
	align-items: center;
	justify-content: center;
}

.result {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 400px;
	width: 300px;
}

.result img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	background-color: #cb00b6;
    box-shadow: #000000;
	border-radius: 4px;
	color: #000000;
	font-size: 18px;
    font-weight: 600;
	padding: 10px;
	margin: 10px;
	width: 300px;
}

button:active {
	transform: scale(0.98);
}

button:focus {
	outline: none
}